.thumbnail {
  max-height: 300px;
  min-height: 300px;
}

.thumbnail img {
  max-height: 100px;
}

.thumbnail .description {
  color: rgba(3,137,150,.96)
}

.price {
  font-weight: bold;
  font-size: 20px;
}
