<div class="container">
  <h3 class="page-title">Let's get you signed up!</h3>
</div>
<br>
<div class="container">
  <div class="col-md-6 col-sm-4">
    <input type="text" class="form-control" ng-model="email" placeholder="Email">
  </div>
  <div class="col-md-6 col-sm-4">
    <input type="password" class="form-control" ng-model="password" placeholder="Password">
  </div>
</div>
<br>
<div class="container">
    <div class="col-md-6">
      <button type="button" name="signup" class="btn btn-primary" ng-click="submitSignup()">Signup</button>
    </div>
</div>
